<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <tr class="tableHeader">
          <th>Logo</th>
          <th v-on:click="sortName">Name</th>
          <th v-on:click="sortLocation">Location</th>
          <th v-on:click="sortRating">Rating</th>
      </tr>
      <tr v-for="r in SearchedAgencies" class="dataRow">
          <td>
               <div class="imageContainer">
                     <img v-bind:src="r.logoURI" class="rowDataImage"/>
                     </div>
          </td>
          <td>{{r.name}}</td>
          <td>{{r.location.street + ', ' + r.location.streetNumber + ', ' + r.location.city}}</td>
          <td>{{r.rating}}</td>
      </tr>
      <input type="button" value="+">

      <table>
        <tr>
            <th>Picture</th>
	        <th>Brand</th>
	        <th>Model</th>
	        <th>Price</th>
	        <th>Vehicle Type</th>
	        <th>Transmission</th>
	        <th>Fuel Type</th>
	        <th>Fuel Consumption</th>
	        <th>Doors</th>
	        <th>People</th>
	        <th>Description</th>

        </tr>
        <tr v-for="v in vehicles">
            <td>
                <div>
                    <img v-bind:src="v.picture" />
                   </div>
               </td>
            <td>{{v.brand}}</td>
            <td>{{v.model}}</td>
            <td>{{v.price}}</td>
            <td>{{v.vehicle_type}}</td>
            <td>{{v.transmission_type}}</td>
            <td>{{v.fuel_type}}</td>
            <td>{{v.fuel_consumption}}</td>
            <td>{{v.doors}}</td>
            <td>{{v.people}}</td>
            <td>{{v.description}}</td>
            <td><input type="button" value="-"></td>
        </tr>


      </table>
</body>
</html>