@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins";
}
#main-page{
	background-color: #dbf9f0;
}
.landingPage{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #dbf9f0;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.nav_a, .nav_button, .nav_li{
    font-family: "Poppins";
    font-weight: 500;
    font-size: 16px;
    color: #210124;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px, 10px;
    margin-top: 8px;
}
.header{
    cursor: pointer;
    text-decoration: underline;
    font-size: 24px;
    font-family: "Poppins";
    font-weight: 500;
    margin-right: auto;
    margin-left: 20px;
}
.nav_links{
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
    cursor: pointer;
}
.nav_links li a{
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color: #750d37;
}
.nav_button{
    padding: 9px 25px;
    background-color: rgba(33, 1, 36, 1);
    color: #f7f9f7;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
    cursor: pointer;
    margin-right: 20px;
}
.nav_button:hover{
    background-color: rgba(33, 1, 36, 0.8);
}

.imageContainer {
	margin-left: 40px;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-bottom: 2px solid rgba(33, 1, 36, 1);
}

.rowDataImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

table{
    font-family: "Poppins";
    left: 25%;
    right: 25%;
    top: 30%;
    position:absolute;
    border-collapse: collapse;
    width: 50vw;
    height: 200px;
    border: 1px solid #210124;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    background-color: #f7f9f7;
}
#tableNotCentered {
    position:static;

}


.dataRow{
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.dataRow:hover{
    background-color: #dbf9f0;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}
th,td{
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #210124;
}
tr.tableHeader{
    background-color: rgba(33, 1, 36, 1);
    color: #f7f9f7;
    user-select:none;
}
.login_form_div{
	background-color: #dbf9f0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.login_form{
    font-family: "Poppins";
    padding: 24px;
    min-height:380px;
    min-width: 380px;
    height: 350px;
    width: 380px;
    background-color: #F7F9F7;
    border: rgba(33, 1, 36, 1) 1px solid;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}
.login_label_header{
    font-size: 24px;
    text-decoration: underline;
    display: inline-block;
    position: relative;
    left: 20%;
    margin-bottom: 15px;
}
.login_label{
    display: inline-block;
    position: relative;
    left: 5%;
    margin-top: 15px;
    font-size: 14px;
}
.login_input{
    display: inline-block;
    position: relative;
    left: 5%;
    margin-top: 0px;
    width: 280px;
    right: 5%;
    height: 24px;
    border-radius: 10px;
    border: rgba(33, 1, 36, 1) 1px solid;
    text-indent: 8px;
}
.login_button{
    display: inline-block;
    position: relative;
    margin-top: 15px;
    font-size: 16px;
    width: 180px;
    left: 15%;
    top: 1%;
}
.register_message_label{
    font-size: 12px;
    display: inline-block;
    position: relative;
    left: 10%;
    margin-top: 12px;
}
.register_message_label a{
    text-decoration: none;
    color: #750D37;
    cursor: pointer;
}
.invalid_input_label{
    color: #750D37;
    display: inline-block;
    position: relative;
    font-size: 10px;
    left: 6%;
}

.signup_form_div{
    font-family: "Poppins";
    background-color: #dbf9f0;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
}
.signup_form{
    padding: 24px;
    min-width: 50px;
    min-height: 90px;
    height: 750px;
    width: 375px;
    background-color: #F7F9F7;
    border: rgba(33, 1, 36, 1) 1px solid;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}
.signup_label_header{
    font-size: 24px;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 0px;
}

#name_signup_label{
    margin-right: 50px;
    display: inline-block;
}
#surname_signup_label{
    display: inline-block;
    margin-left: 102px;
}

.name_surname_input{
    display: inline-block;
    width: 135px;
    position: relative;
    border-radius: 10px;
    border: rgba(33, 1, 36, 1) 1px solid;
    text-indent: 8px;
    height: 24px;
}
.name_surname_div{
    display: flex;
    justify-content:space-between;
    margin-left: 15px;
    margin-right: 25px;
}
.register_message_label{
    font-size: 12px;
    display: inline-block;
    position: relative;
    justify-content: center;
    margin-top: 12px;
    margin-left: 15px;
}
.register_message_label a{
    text-decoration: none;
    color: #750D37;
    cursor: pointer;
}

.agency-info-div{
  padding: 15px;
  display: flex;
}
.agency-additional-info{
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-size: 16px;
  background-color: #f7f9f7;
  border-radius: 12px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 12px;
  width: 50%;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
}
.agency-additional-info span{
  padding: 10px;
}
.agency-additional-info span .add-info-values{
  width: auto;
  margin-left: 24px;
}

.agency-preview > label{
  font-size: 20px;
  margin-left: 25px;
  font-weight: 500;
  display: inline-block;
  padding-top: 32px;
  
}
.agency-preview{
	font-family: "Poppins";
}
.agency-name{
  margin-left: 25px;
  margin-top: 48px;
  font-size: 24px;
  font-weight: 900;
  
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.separator-line{
  border-bottom: 2px #210124 solid;
  width: 97vw;
  margin-left: 25px;
}
.agency-name > span {
  display: flex;
  align-items: center;
}
.working-state{
  color: green;
  margin-top: 2px;
  margin-left: 15px;
}
.working-state-label{
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
.logo-image{
  width: 150px;
  height: 150px;
  border: 4px solid #210124;
  border-radius: 50%;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
}
.vehicle-card{
  border-radius: 12px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
  background-color: #f7f9f7;
  margin: 25px 6px;
  width: 400px;
  height: 320px;
}
.vehicle-card > img{
  width: 380px;
  height: 80px;
  justify-content: center;
  object-fit: cover;
  margin-left: 10px;
  margin-top: 8px;
  border: 2px #210124 solid;
  border-radius: 3px;
}
.price{
  max-width: 120px;
  margin-right: 10px;
  margin-left: 142px;
}
.mark{
  padding: 10px;
  margin-top: 4px;
  display: inline-block;
  max-width: 120px;
  font-weight: 600;
  text-decoration: none;
}
.type, .fuel-type, .seats,.doors{
  font-size: 14px;
  padding: 2px;
  margin-left: 10px;
}
.status{
  display: inline-block;
  margin-top: 24px;
  font-size: 18px;
  margin-left: 10px;
}
.vehicles
{
  display: flex;
  justify-content: flex-start;
  max-width: 100vw;
  flex-wrap: wrap;
  padding-left: 19px;
}
.red-color{
	color:red;
	margin-top: 2px;
  	margin-left: 15px;
}

.personal-info-div{
  gap: 8px;
  margin-top: 12px;
  margin-left: 20px;
  font-size: 15px;
  border-radius: 12px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
  background-color: #f7f9f7;
  padding: 12px;
  width: 450px;
}
.my-profile-label{
  display: inline-block;
  margin-top: 32px;
  margin-left: 20px;
}
.personal-info-div label{
  display: inline-block;
}
/*
-----------------------------------

 searchbox styles 

-----------------------------------
*/
.rowTableImage {
    max-width: 5vw;
    max-height: 5vw;
    object-fit: contain;
}
.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
  background-color: #c5d6d0;
  border: 2.2px solid rgba(33, 1, 36, 1);
  width:28vw;
  border-radius: 50px;
}

.searchBox label{
	font-size:1.7vh;
	font-family: "Poppins";
}
.underline-label{
	text-decoration: underline;
	display: flex;
	justify-content: center;
	margin-bottom: 0.5vh;
	
}
.vehicle-stats-label{
	display: flex;
	justify-content: center;
	margin-bottom: 0.5vh;
}

.basic-div{

	display: flex;
	justify-content: center;
	margin-bottom: 0.5vh;
	
}
.basic-div input[type="text"]{
	width:15vw;
	height:2vh;
	border: 1.5px solid rgba(33, 1, 36, 1);
	border-radius: 15px;
}
.basic-div input[type="number"]{
	width:2vw;
	height:3vh;
	border: 1.5px solid rgba(33, 1, 36, 1);
	text-align: center;
	border-radius: 15px;
}


.basic-div input[type="submit"]:hover{
    background-color: rgba(33, 1, 36, 0.8);
}

.basic-div select{
  font-size: 14px;
  font-family: "Poppins";
  border: 1.5px solid rgba(33, 1, 36, 1);
  border-radius: 4px;
  background-color: #f7f7f7;  
}

/*
-----------------------------------

 orderview styles 

-----------------------------------
*/
.basic-div-orderview{

	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 0.5vh;
	
}
.basic-div-orderview input[type="text"]{
	width:12vw;
	height:2vh;
	border: 1.5px solid rgba(33, 1, 36, 1);
}

.table-button{
    padding: 9px 25px;
    background-color: #c32023;
    color: #f7f9f7;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
    cursor: pointer;
    margin-right: 20px;
}
.table-button:hover{
    background-color: rgba(33, 1, 36, 0.8);
}

.vieworders-div-search{
	margin-top: 12px;
	margin-left:6vw;
	margin-right:6vw;
	position: relative;
	
	display: flex;
	justify-content: center;
	gap:20px;
  	
  	align-items: center;
  	
	background-color: #c5d6d0;
	border: 2.2px solid rgba(33, 1, 36, 1);
	
  	border-radius: 50px;
  	padding:10px;
  	
}
.vieworders-div-search label{
	font-size:1.7vh;
	font-family: "Poppins";
}

.vieworders-div-search input[type="number"]{
	width:3vw;
	border: 1.5px solid rgba(33, 1, 36, 1);
	border-radius: 12px;
	text-indent:8px;
	
}
.vieworders-div-search input[type="datetime-local"]{
	border: 1.5px solid rgba(33, 1, 36, 1);
	border-radius: 12px;
	text-indent:8px;
}
.vieworders-table-div2{
	margin-top: 30px;
	display: flex;
	justify-content: center;
  	padding:20px;
}
.vieworders-table-div{
	width: 50%;
	margin-top: 30px;
  	padding:20px;
}

.vieworders-div-search input[type="button"]:hover{
    background-color: rgba(33, 1, 36, 0.8);
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
/*
-----------------------------------

 searchvehicles styles 

-----------------------------------
*/
.basic-div-table{

	display: flex;
	
	justify-content: center;
	margin-bottom: 0.5vh;
	
}
.basic-div-searchvehicles{
	justify-content:space-between;
	margin-left: 35vw;
 	margin-right: 35vw;
	margin-top: 50px;
	display: flex;
  	flex-direction: column;
  	align-items: center;
	background-color: #c5d6d0;
	border: 2.2px solid rgba(33, 1, 36, 1);
  	border-radius: 50px;
  	padding: 30px;
  	margin-bottom: 3vh;
	
}
.basic-div-searchvehicles label{
	font-size:1.7vh;
	font-family: "Poppins";
}
.basic-div-searchvehicles input[type="button"]{
  background-color:  rgba(33, 1, 36, 1); 
  border: none;
  color: white;
  width:7vw;
  height:2.5vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;
  margin-top: 0.5vh;
}
.basic-div-searchvehicles input[type="button"]:hover{
    background-color: rgba(33, 1, 36, 0.8);
}
.basic-div-searchvehicles input[type="datetime-local"]{
	width:10vw;
	height:2vh;
	border: 1.5px solid rgba(33, 1, 36, 1);
	text-align: center;
	
}
#go-basket-button{
	background-color:  green; 
}
#go-basket-button:hover{
	background-color: rgba(33, 1, 36, 0.8);
}
.circle-button-green {
  width: 40px; /* Adjust the width and height as needed */
  height: 40px;
  border-radius: 50%;
  background-color: green;
  border: none;
  box-sizing: border-box;
  /* Additional styles for the button */
}
.circle-button-green:hover{
    background-color: gray;
}


/*
-----------------------------------

 basketview styles 

-----------------------------------
*/
.basic-div-basketview{
	display: flex;
	justify-content: center;
	margin-bottom: 0.5vh;
	
}
.confirm-div{
	
	display: flex;
	justify-content: center;
	margin-bottom: 0.5vh;
	flex-direction: column;
  	align-items: center;
}
.confirm-div p{
	font-size:1.7vh;
	font-family: "Poppins";
}

.button-confirm{
  background-color:  green; 
  border: none;
  color: white;
  width:7vw;
  height:2.5vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;
  margin-top: 0.5vh;
}
.button-confirm:hover{
    background-color: rgba(33, 1, 36, 0.8);
}

.circle-button-red {
  width: 40px; /* Adjust the width and height as needed */
  height: 40px;
  border-radius: 50%;
  background-color: red;
  border: none;
  box-sizing: border-box;
  /* Additional styles for the button */
}
.circle-button-red:hover{
    background-color: gray;
}


.divstyle{
	float:left;
width:1000px;
overflow-y: auto;
height: 100px;
}

.vehicle-form-holder{
	margin-bottom: 32px;
  height: 100vh;
  background-color: #dbf9f0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.vehicle-form{
  margin-top: 32px;
  background-color: #F7F9F7;
  border-radius:3%;
  border: solid black 3px;
  padding: 15px;
  width: 30vw;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}
.vehicle-form-header{
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  margin-bottom: 15px;
  text-decoration: underline;
  font-weight: 900;
  font-size: 18px;
}
.vehicle-form-inputs{
  padding-left: 8.5vw;
  padding-right: auto;
}
.vehicle-form-labels{
  font-size: 14px;
}
.vehicle_input{
  display: inline-block;
  height: 24px;
  border-radius: 10px;
  border: rgba(33, 1, 36, 1) 1px solid;
  text-indent: 8px;
  text-align: center;
  margin-bottom: 8px;
}
.vehicle-form > input[type="submit"]{
  margin-left: 9.75vw;
  margin-top: 1vh;
}

.vehicle-form-inputs select{
  display: inline-block;
  height: 24px;
  border-radius: 10px;
  border: rgba(33, 1, 36, 1) 1px solid;
  text-indent: 8px;
  text-align: center;
  margin-bottom: 8px;
  width: 165px;
}
.invalid-vehicle-input{
  color: #750D37;
 display: inline-block;   
 position: relative;
 font-size: 10px;
 max-width: 165px;
}

.comments{
	margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: 25px;
  width: 100vw;
  height: auto;
  flex-direction: column;
  gap: 12px;
}
.comment{
  display: flex;
  height: 120px;
  background-color: white;
  width: 80%;
  border-radius: 15px 50px 15px 50px;
  transition: all 0.5s ease;
}
.username-bubble{
  background-color: #3949AB;
  border-radius: 15px;
  box-shadow: 2px 2px 12px #C5CAE9;
  width: 15%;
  margin-top: 0.5%;
  margin-left: 1%;
  padding: 8px;
  text-align: center;
  color: white;
  margin-right: 12px;
  height: 42px;
}
.comment:hover{
  background-color: #3949AB;
  color: white;
}
.comment-source{
  margin-top: 12px;
  margin-right: 12px;
  font-size: 14px;
  width: 65%;
  overflow-y: scroll;
}
.comment-source::-webkit-scrollbar {
  width: 0em;
}
.comment-buttons{
  margin-top: 1.5%;
  display: flex;
  gap: 4px;
  padding: 8px;
  padding-left: 0px;
}
.accept-comment-button{
  padding: 4px;
  border-radius: 15px;
  background-color: #004D40;
  width: 70px;
  border-color: #004D40;
  transition: all 0.8 ease;
  cursor: pointer;
  color: white;
}
.reject-comment-button{
  padding: 4px;
  border-radius: 15px;
  background-color: #D50000;
  width: 70px;
  border-color: #D50000;
  transition: all 0.8 ease;
  cursor: pointer;
  color: white;
}
.accept-comment-button:hover{
  background-color: #00897B;
}
.reject-comment-button:hover{
  background-color: #D32F2F;
}

.comment-form{
  width: max(250px, 20vw);
  height: 300px;
  border: black solid 2px;
  border-radius: 15px;
  background-color: white;
  padding: 8px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation-name: slideInAnimation;
  animation-duration: 1s;
  animation-timing-function: ease;
  z-index: 1;
}

.comment-input{
  display: inline-block;
  width: 100%;
  height: 100px;
  border-radius: 12px;
  text-indent: 8px;
  font-size: 12px;
  font-weight: 100;
  resize: none;
  background-color: rgb(197, 197, 197);
}
.comment-form-inputs{
  text-align: start;
  width: 100%;
}
.comment-form-label{
  font-size: 16px;
  text-decoration: underline;
  font-weight: 800;
}
.comment-form-inputs > label{
  font-size: 12px;
}
.comment-form > input[type="submit"]{
  margin-top: 28px;
}

.rating-div{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.comment-form input[type="radio"] {
  accent-color: #F86F15;
}

@keyframes slideInAnimation{
  from{
    transform: translateX(-300px);
  }
  to{
    transform: translateX(0);
  }
}